//variables
@import "./utilitis/alturas";
@import "./utilitis/colores";
@import "./utilitis/letra";

//receteo, extend y mixind
@import "./utilitis/receteo";
@import "./utilitis/ext-mix";

//secciones
@import "./sections/header";
@import "./sections/main-index";
@import "./sections/footer";
@import "./sections/main-formulario";
@import "./sections/main-suplementos";
@import "./sections/main_vestimenta";
@import "./sections/main-planes";
@import "./sections/main-carritoCompra";
@import "./sections/main-timer";