@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/*------------- HEADER------------------*/
.header {
  background-color: #272924 !important;
  width: 100%;
  height: 140px;
}

.nav2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav2 .barra-vertical {
  width: 2px;
  height: 109px;
  background-color: #565252;
  margin-bottom: 52px;
}
.nav2 .barra-vertical-suplementos {
  width: 2px;
  height: 109px;
  background-color: #565252;
  margin-bottom: 75px;
}
.nav2 .barra-vertical-vestimenta-planes {
  width: 2px;
  height: 109px;
  background-color: #565252;
  margin-bottom: 70px;
}
.nav2 .barra-vertical-videos {
  width: 2px;
  height: 109px;
  background-color: #565252;
  margin-bottom: 60px;
}
.nav2 .barra-vertical-formulario {
  width: 2px;
  height: 109px;
  background-color: #565252;
  margin-bottom: 87px;
}
.nav2 .contLogo {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.nav2 .imgLogo, .nav2 .imgLogoForm, .nav2 .imgLogoSuple {
  margin-left: 9%;
  margin-top: -31px;
  width: 14%;
}
.nav2 .inicio {
  font-family: "Bebas Neue", sans-serif !important;
  color: white;
  font-size: 34px;
  margin-bottom: 46px;
}
.nav2 .inicioSuplementos {
  font-family: "Bebas Neue", sans-serif !important;
  color: white;
  font-size: 34px;
  margin-bottom: 70px;
}
.nav2 .iniPlan {
  font-size: 28px;
  margin-bottom: 70px;
}
.nav2 .inicioVestimentaVideo {
  font-family: "Bebas Neue", sans-serif !important;
  color: white;
  font-size: 34px;
  margin-bottom: 64px;
}
.nav2 .volverInicio {
  margin-left: 186%;
  margin-bottom: 74px;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  text-decoration: underline;
  color: #d2cfcb;
  font-size: 36px;
}
.nav2 .volverInicio:hover {
  color: white;
}
.nav2 .inicioFormulario {
  font-family: "Bebas Neue", sans-serif !important;
  color: white;
  font-size: 34px;
  margin-bottom: 84px;
}
.nav2 .animate__backInRight {
  animation-duration: 1s;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: white;
}
.navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.show:hover {
  color: black;
}

.container-fluid {
  height: 177px;
}

.opMenu {
  font-size: 25px;
  font-family: "Bebas Neue", sans-serif !important;
  color: white;
}

.botonMenu {
  margin-right: 30px;
  margin-bottom: 47px;
}

.divOpMenu {
  background-color: #575755;
}

.offcanvas {
  width: 260px !important; /* Cambiá el valor a lo que quieras */
}

.divOpMenu2 {
  background-color: #272924;
}

.divOpMenu3 {
  background-color: #3F4239;
}

.logo {
  width: 50%;
}

.logoPlan {
  width: 16%;
}

/* Aplica al contenedor que tiene logo + INICIO */
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 9px;
  justify-content: flex-start; /* espacio entre logo e INICIO */
}
.navbar-brand .navPlanes {
  justify-content: flex-end !important;
}

/* Logo con barra a la derecha */
img, svg {
  vertical-align: middle;
  margin-bottom: 53px;
}

.compraInicio {
  margin-left: 78px;
  margin-bottom: 51px;
}

.carritoPlanes {
  margin-left: -32%;
  padding-left: 34px;
}

.carritoPlanesSupl {
  margin-left: -65%;
  margin-bottom: 51px;
}

.carritoVideo {
  margin-left: 70%;
  margin-bottom: 62px;
}

.carritoVest {
  margin-left: -47%;
  margin-bottom: 54px;
}

.btnMenuSupl {
  margin-bottom: 49px;
  margin-right: 16px;
}

.btnMenuVest {
  margin-right: 42px;
  margin-bottom: 70px;
}

.botonMenuVideo {
  border: none;
  margin-right: 30px;
  margin-bottom: 60px;
}

/* Submenu dropdown */
.dropdown-menu {
  position: relative;
  z-index: 9999;
}

.animate__backInLeft {
  animation-duration: 1s;
}

.animate__backInUp {
  animation-duration: 1s;
}

/* Eliminar ícono de bootstrap */
.botonMenu .navbar-toggler-icon {
  background-image: none !important;
}

/* Estilos del botón */
.botonMenu {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 47px;
}

/* NUEVO ICONO — 3 rayitas blancas */
.menu-lines {
  width: 27px;
  height: 22px;
  position: relative;
  display: inline-block;
}

/* Líneas */
/* Selector más fuerte → gana siempre */
.menu-lines::before,
.menu-lines::after,
.menu-lines span {
  content: "";
  position: absolute;
  height: 3px; /* grosor */
  width: 100%;
  background: #fff !important; /* 🔥 blanco garantizado */
  border-radius: 20px;
}

.botonMenuVideo:focus,
.botonMenuVideo:active,
.botonMenuVideo:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* línea arriba */
.menu-lines::before {
  top: 0;
}

/* línea medio */
.menu-lines span {
  top: 9px;
}

/* línea abajo */
.menu-lines::after {
  bottom: 0;
}

.navbar-toggler,
.botonMenu,
.btnMenuSupl,
.btnMenuVest,
.botonMenuVideo {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
  transform: none !important;
}

/* estado focus + active */
.navbar-toggler:focus,
.navbar-toggler:active,
.botonMenu:focus,
.botonMenu:active,
.btnMenuSupl:focus,
.btnMenuSupl:active,
.btnMenuVest:focus,
.btnMenuVest:active,
.botonMenuVideo:focus,
.botonMenuVideo:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
  transform: none !important;
}

@media (max-width: 390px) {
  .botonMenu {
    margin-right: 12px;
    margin-top: -189px;
  }
  .compraInicio {
    margin-left: 280px;
    margin-top: -191px;
  }
  .imgLogo {
    margin-left: -5% !important;
    margin-top: -14px !important;
    width: 29% !important;
  }
  .inicio {
    font-size: 27px !important;
  }
  .navbar-brand {
    gap: 5px;
  }
  .header {
    height: 110px;
  }
  .barra-vertical {
    height: 87px !important;
    margin-bottom: 63px !important;
  }
  .inicioFormulario {
    font-size: 23px !important;
  }
  .imgLogoForm {
    margin-top: -42px !important;
    margin-left: -5% !important;
    width: 29% !important;
  }
  .imgLogoSuple {
    margin-left: -4% !important;
    margin-top: -29px !important;
    width: 27% !important;
    margin-right: -13px !important;
  }
  .volverInicio {
    margin-left: 56% !important;
    font-size: 20px !important;
  }
  .barra-vertical-formulario {
    height: 86px !important;
  }
  .barra-vertical-suplementos {
    height: 85px !important;
  }
  .inicioSuplementos {
    font-size: 25px !important;
  }
  .btnMenuSupl {
    margin-top: -216px;
    margin-left: 304px;
  }
  .carritoPlanesSupl {
    margin-left: 285px;
    margin-top: -222px;
  }
}
.mainIndex {
  min-height: 70vh;
  margin-top: 210px;
  background-color: #C9C6C7;
}
.mainIndex h2 {
  margin-bottom: 12px;
  margin-top: -49px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  color: #272924;
  text-align: center;
  font-size: 40px;
}
.mainIndex .animate__pulse {
  animation-iteration-count: 2;
  animation-duration: 2s;
  animation-delay: 1s;
}

body {
  background-color: #C9C6C7 !important;
}

/*CARROUSEL ---------------------------*/
#carouselExampleSlidesOnly {
  width: 100%;
  max-height: 350px; /* <--- Limita la altura del carrusel */
  overflow: hidden;
}

.carousel-inner,
.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

.img3Carrousel {
  margin-top: -78px;
}

.img2Carrousel {
  margin-top: -20px;
  margin-right: 20px;
}

/*CARD ------------------------------*/
.conteinerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 24px;
}

.card1, .card2, .card3 {
  background-color: #3F4239;
  box-shadow: 0px 4px 10px black;
}

.card-img-top {
  border-radius: 10px;
}
.card-img-top:hover {
  transform: scale(1.1);
  transition: 1s;
}

.card-body-index {
  background-color: #3F4239;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.card-title-index {
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  margin-top: -20px;
}

.precio {
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
}

.card-text-index {
  font-family: "DM Sans";
  text-align: left;
  margin-top: 28px;
  font-size: 20px;
  color: whitesmoke;
  padding: 10px;
}

.btn {
  color: white;
  background-color: black;
  border-color: #767171;
}
.btn:hover {
  background-color: #4b4a4a;
  border-color: black;
}

.btn1 {
  margin-bottom: 15px;
  margin-right: 60px;
}

.btnn2 {
  margin-bottom: 15px;
  margin-right: 43px;
}

.btn3 {
  margin-bottom: 10px;
  margin-right: 44px;
}

.btn:active {
  background-color: #615f5f !important;
  border-color: #615f5f !important;
}

@media (max-width: 396px) {
  .mainIndex h2 {
    margin-bottom: 3px;
    margin-top: -91px;
    font-size: 30px;
    margin-left: 88px;
  }
  .conteinerCard {
    display: flex;
    flex-direction: column;
  }
  .card1 {
    width: 21rem !important;
    height: 43rem !important;
    margin-left: 3px !important;
    margin-bottom: 25px;
  }
  .btn1 {
    margin-bottom: -20px;
  }
  .card-title {
    margin-top: -41px !important;
  }
  .card-text {
    font-size: 18px;
    padding: 8px;
  }
  .card2 {
    width: 21rem !important;
    height: 43rem !important;
    margin-left: 3px !important;
    margin-bottom: 25px;
  }
  .btnn2 {
    margin-bottom: -19px;
  }
  .card3 {
    width: 21rem !important;
    height: 43rem !important;
    margin-left: 3px !important;
    margin-bottom: 25px;
  }
}
.footer {
  max-height: 34vh;
  background-color: #272924;
  padding: 20px 40px;
  margin-top: 117px;
}
.footer .section-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .conteRedes {
  display: flex;
}
.footer .conteRedes a {
  text-decoration: none;
}
.footer .conteRedes a .what {
  margin-left: 15px;
}
.footer .redes {
  display: flex;
  font-size: 45px;
  align-items: baseline;
}
.footer .redes h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 27px;
  color: #87877F;
  margin-left: -23px;
  text-decoration: underline;
}
.footer .fa-instagram {
  margin-left: 20px;
}

.imgLogoFoot {
  width: 14%;
  margin-right: 42px;
}

.volverIni {
  margin-right: 15px;
  font-size: 33px;
  background-color: #787171;
  border-radius: 20px;
  padding: 8px;
}
.volverIni:hover {
  background-color: #ddd6d6;
}

.insta:hover,
.what:hover {
  background-color: #87877F;
  border-radius: 25px;
  padding: 5px;
}

.insta {
  margin-right: 5px;
}

.logoCopy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-copy {
  margin-top: -42px;
  margin-right: 32px;
  color: #c1c1c1;
  font-size: 13px;
  letter-spacing: 1px;
}

@media (max-width: 396px) {
  .footer {
    padding: none;
  }
  .footer .redes {
    display: flex;
    font-size: 45px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .redes h2 {
    font-size: 19px;
  }
  .what, .insta {
    font-size: 33px;
  }
  .conteRedes {
    align-items: baseline;
    margin-top: -20px;
    margin-left: -33px;
  }
  .footer-copy {
    margin-bottom: -10px;
    margin-left: 23px;
    font-size: 11px;
  }
  .volverIni {
    margin-right: -27px;
    font-size: 20px;
    padding: 6px;
  }
  .imgLogoFoot {
    width: 39%;
    margin-right: 12px;
  }
}
.mainForm {
  min-height: 70vh;
  margin-top: 208px;
}

.formulario {
  background-color: #272924;
  border-radius: 15px;
  margin: 159px;
  padding: 15px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tituloForm {
  text-align: center;
  margin-bottom: -144px;
  font-family: "Bebas Neue", sans-serif;
  color: #3F4239;
  font-size: 40px;
}

.label {
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: math;
}

.input-radio {
  margin-left: 13px;
  font-family: math;
}

.input-text {
  border-radius: 11px;
  border-color: white;
  padding: 5px;
}
.input-text:hover {
  background-color: #645e5e;
  color: rgb(24, 23, 23);
  border-color: #645e5e;
}

.input-number, .input-number-dias {
  border-radius: 11px;
  border-color: white;
  padding: 2px;
  width: 73px;
  text-align: center;
}
.input-number:hover, .input-number-dias:hover {
  background-color: #645e5e;
  color: rgb(24, 23, 23);
  border-color: #645e5e;
}

.labelDoble {
  margin-left: 53px;
}

.contenedorBoton {
  display: flex;
  justify-content: center;
}

.botonEnviar {
  border-radius: 14px;
  border-color: #777575;
  font-size: 22px;
  padding: 7px 32px;
  margin-top: 25px;
  background-color: #645e5e;
}
.botonEnviar:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.planSolici {
  margin-top: 150px;
  margin-bottom: -137px;
  color: #3F4239;
  font-size: 21px;
}

.radios {
  display: contents; /* ← NO altera el layout */
  gap: 0;
}

@media (max-width: 396px) {
  .tituloForm {
    font-size: 28px;
    margin-top: -76px;
  }
  .planSolici {
    font-size: 14px;
  }
  .formulario {
    margin-top: 147px;
    margin-left: 6px;
    margin-bottom: 15px;
    width: 97%;
  }
  .label {
    font-size: 16px;
  }
  .radios {
    display: flex;
    justify-content: center;
    gap: 7px;
  }
  .input-text {
    margin-left: 33px;
    width: 74%;
  }
  .input-text-contac {
    margin-top: -10px;
  }
  .input-number-dias {
    width: 69px;
    margin-left: 8px;
  }
  .input-number {
    width: 70px;
  }
}
.mainSuple {
  min-height: 40vh;
  margin-top: 200px;
  padding: 10px;
}

.accordion1 {
  background-color: white;
  border-color: black;
}

.accordion2 {
  margin-top: 10px;
  background-color: white;
  border-color: black;
}

.accordion3 {
  margin-top: 10px;
  background-color: white;
  border-color: black;
}

.text-vesti {
  font-family: "DM Sans";
  text-align: left;
  margin-top: 28px;
  font-size: 16px;
  color: whitesmoke;
}

.btn13 {
  background-color: #3F4239;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
}
.btn13:focus {
  background-color: #3F4239;
  color: white;
  border-color: #3F4239;
  box-shadow: none;
}
.btn13:not(.collapsed) {
  background-color: #3F4239;
  color: white;
  border-color: #3F4239;
  box-shadow: none;
}
.btn13:hover {
  background-color: rgba(53, 52, 52, 0.849);
}

.btn2 {
  background-color: #87877F;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
}
.btn2:focus {
  background-color: #87877F;
  color: black;
  border-color: #87877F;
  box-shadow: none;
}
.btn2:not(.collapsed) {
  background-color: #87877F;
  color: black;
  border-color: #87877F;
  box-shadow: none;
}
.btn2:hover {
  background-color: rgba(53, 52, 52, 0.525);
}

.btnCreatina {
  margin-top: 10px;
}

.titleSuple {
  font-family: "Bebas Neue", sans-serif;
}

/* Flecha cuando está cerrado */
.accordion-button::after {
  filter: invert(1); /* Cambia de negro a blanco */
}

/* Flecha cuando está abierto */
.accordion-button:not(.collapsed)::after {
  filter: invert(1); /* Blanco */
}

.conteTiposProte {
  display: flex;
  justify-content: space-around;
}

.conteTiposCrea {
  display: flex;
  justify-content: space-evenly;
}

.separador1CardOtros {
  display: flex;
  justify-content: space-around;
}

.separador2CardOtros {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.conteTiposOtros {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
}

.card-title {
  margin-top: -56px;
  text-align: center;
  color: white;
  font-size: 30px;
}

hr {
  color: white;
}

h6 {
  color: white;
}

.card {
  background-color: #3F4239;
}

/* Oculto el radio original */
.radioPersonalizado input[type=radio] {
  display: none;
}

/* La “cápsula” */
.radioPersonalizado span {
  display: inline-block;
  padding: 1px 9px;
  border: 1px solid #b0b0b0;
  cursor: pointer;
  margin-right: 8px;
  font-weight: bold;
  transition: all 0.2s ease;
  color: white;
}

.formSuple {
  text-align: center !important;
}

/* Cuando está seleccionado */
.radioPersonalizado input[type=radio]:checked + span {
  background-color: #000;
  color: #fff;
  border-color: #000;
  transform: scale(1.05);
}

.titLabel {
  color: white;
}

.opcionesSabor {
  display: flex;
  flex-direction: column; /* permite que salten a la siguiente línea */
  gap: 8px; /* separación entre cápsulas */
  margin-top: 8px;
  margin-bottom: 10px;
}

.mediaProte1 {
  display: contents; /* ← NO altera el layout */
  gap: 0;
}

.btn {
  margin-left: 48px;
  margin-top: 11px;
}

@media (max-width: 390px) {
  .mediaProte1 {
    display: flex;
  }
  .card {
    width: 11rem !important;
  }
  .conteTiposProte {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
  .card-img-top {
    margin-bottom: 0px;
  }
  .titleSuple {
    margin-top: -7px !important;
  }
  .text-vesti {
    margin-top: 8px;
    font-size: 13px;
  }
  h6 {
    font-size: 14px;
  }
  .btn {
    font-size: 14px;
  }
}
.conteCards-vesti {
  display: flex;
  justify-content: space-evenly;
}

.card-title-vesti {
  font-weight: bold;
  color: #000000;
  background-color: #888383;
  border-radius: 15px;
  padding: 7px;
  font-family: "DM Sans";
  width: 210px;
  margin: auto;
  margin-bottom: 22px;
  text-align: center;
}

.card {
  border-color: white;
}

.card-text-vesti {
  text-align: start;
  font-family: "DM Sans";
  color: white;
}

.precios-vesti {
  margin-top: -34px;
  margin-bottom: 19px;
  color: white;
  font-size: 27px;
  text-align: center;
}

/* Oculto el radio original */
.radioPersonalizado input[type=radio] {
  display: none;
}

/* La “cápsula” */
.radioPersonalizado span {
  display: inline-block;
  padding: 2px 9px;
  border: 1px solid #555;
  border-radius: 50px; /* Forma de pastillita */
  cursor: pointer;
  margin-right: 8px;
  font-weight: bold;
  transition: all 0.2s ease;
}

/* Cuando está seleccionado */
.radioPersonalizado input[type=radio]:checked + span {
  background-color: #000;
  color: #fff;
  border-color: #000;
  transform: scale(1.05);
}

.formRemera {
  margin-bottom: 20px;
  text-align: center;
}

.labelColor {
  margin-top: 12px;
  color: white;
}

.labelTalle {
  color: white;
}

.btnVesti {
  margin-left: 88px;
}

#carouselProducto2 .imag {
  height: 100%;
  border-radius: 12px;
}

#carouselProducto1 .imag {
  height: 100%;
  border-radius: 12px;
}/*# sourceMappingURL=main.css.map */