.footer {
    max-height: 34vh;
    background-color: $gris-mas-oscuro;
    padding: 20px 40px;
    margin-top: 117px;

    .section-footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .conteRedes {
        display: flex;
        gap: 16px;
        a {
             text-decoration: none;
    }

    }
    .redes {
        display: flex;
        font-size: 45px;
        align-items: center;
        flex-direction: column;

        h2 {
            font-family: $bebas-neue;
            font-size: 27px;
            color: $gris-claro;
          
            text-decoration: underline;
        }
    }

    
}

.imgLogoFoot {
    width: 14%;
}

.volverIni {
    margin-right: 15px;
    font-size: 33px;
    background-color: #787171;
    border-radius: 20px;
    padding: 8px;

    &:hover {
        background-color: #ddd6d6;
    }
}

.insta,
.what {
    &:hover {
        background-color: #87877F;
        border-radius: 25px;
        padding: 5px
    }
}


.logoCopy{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .footer-copy {
        color: #c1c1c1;
        font-size: 13px;
        letter-spacing: 1px;
        margin: auto;
        }


@media (max-width:430px){
    .redes{
         display: flex;
         font-size: 25px !important;
         align-items: flex-end;
         margin-left: -28px !important;

        h2{
            font-size: 18px !important;
        }
    }
    .what, .insta{
        font-size: 33px;
    }
    .conteRedes{
        align-items: baseline;
    }
    .footer-copy{
        font-size: 10px;
        margin-left: 46px;
    }
    .volverIni{
        margin-right: -27px;
        font-size: 20px;
        padding: 6px;
    }
    .imgLogoFoot {
        width: 36%;
        margin-right: 12px;
    }
    .logoCopy{
        gap: 7px;
    }
    .footer{
        padding-bottom: 45px;
    }
}