.footer {
    max-height: 34vh;
    background-color: $gris-mas-oscuro;
    padding: 20px 40px;
    margin-top: 117px;

    .section-footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .conteRedes {
        display: flex;
        gap: 16px;

        a {
            text-decoration: none;
        }

    }

    .redes {
        display: flex;
        font-size: 45px;
        align-items: center;
        flex-direction: column;

        h2 {
            font-family: $bebas-neue;
            font-size: 27px;
            color: $gris-claro;

            text-decoration: underline;
        }
    }


}

.imgLogoFoot {
    width: 14%;
}

.volverArriba {
    

    i {
        font-size: 33px;
        background-color: #fff;
        color: #000;
        padding: 9px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    &:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
}

.insta,
.what {
    &:hover {
        background-color: #87877F;
        border-radius: 25px;
        padding: 5px
    }
}


.logoCopy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-copy {
    color: #c1c1c1;
    font-size: 13px;
    letter-spacing: 1px;
    margin: auto;
}


@media (max-width:430px) {
    .redes {
        display: flex;
        font-size: 25px !important;
        align-items: flex-end;
        margin-left: -28px !important;

        h2 {
            font-size: 18px !important;
        }
    }

    .what,
    .insta {
        font-size: 33px;
    }

    .conteRedes {
        align-items: baseline;
    }

    .footer-copy {
        font-size: 10px;
        margin-left: 46px;
    }

    .volverArriba {
        margin-right: -27px;
        padding: 6px;
        i{
            font-size: 20px;
        }
    }

    .imgLogoFoot {
        width: 36%;
        margin-right: 12px;
    }

    .logoCopy {
        gap: 7px;
    }

    .footer {
        padding-bottom: 11px;
    }
}

@media (min-width:431px) and (max-width:768px){
    .what, .insta{
        font-size: 37px;
    }

}