/*------------- HEADER------------------*/
.header {
    background-color: $gris-mas-oscuro !important;
    width: 100%;
    height: 140px;
}


.nav2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;

   .barra-vertical {
    width: 2px;
    height: 109px;
    background-color: #565252;
    margin-bottom: 52px;
    }
    .barra-vertical-suplementos{
    width: 2px;
    height: 109px;
    background-color: #565252;
    margin-bottom: 75px;
    }
    .barra-vertical-vestimenta-planes{
    width: 2px;
    height: 109px;
    background-color: #565252;
    margin-bottom: 70px;
    }
    .barra-vertical-videos{
    width: 2px;
    height: 109px;
    background-color: #565252;
    margin-bottom: 60px;
    }
    .barra-vertical-formulario{
    width: 2px;
    height: 109px;
    background-color: #565252;
    margin-bottom: 87px;
    }
    
    .contLogo {
        display: flex;
        align-items: center;
        padding-right: 15px; 
    }

    .imgLogo{
        margin-left: 9%;
        margin-top: -31px;
        width: 14%;
    }
    .inicio{
        font-family: $bebas-neue !important;
        color: white;
        font-size: 34px;
        margin-bottom: 46px;
    }
    .inicioSuplementos{
        font-family: $bebas-neue !important;
        color: white;
        font-size: 34px;
        margin-bottom: 70px;
    }
    .iniPlan{
        font-size: 28px;
        margin-bottom: 70px;
    }
    .inicioVestimentaVideo{
         font-family: $bebas-neue !important;
        color: white;
        font-size: 34px;
        margin-bottom: 64px;
    }
    .volverInicio{
     margin-left: 186%;
     margin-bottom: 74px;
     font-weight: bold;
     font-family: $bebas-neue;
     text-decoration: underline;
     color: #d2cfcb;
     font-size: 36px;
     &:hover{
        color: white;
     }
    }
    .inicioFormulario{
        font-family: $bebas-neue !important;
        color: white;
        font-size: 34px;
        margin-bottom: 84px;
    }
    .animate__backInRight{
        animation-duration: 1s;
    }
}
.container-fluid{
    height: 177px;
}

//menu de opciones
.opMenu{
       font-size: 25px;
       font-family: $bebas-neue !important;
       color: white;
       
        }

.botonMenu{
    color: black;
    background-color: #d1cece;
    margin-right: 30px;
    margin-bottom: 47px;
    &:hover{
        background-color: #fff2f2;
    }
}
.divOpMenu{
    background-color: $gris-claro;
}
.divOpMenu2{
    background-color: $gris-mas-oscuro;
}
.divOpMenu3{
    background-color: #3F4239;
}

.logo{
    width: 50%;
}
.logoPlan{
    width: 16%;
}
/* Aplica al contenedor que tiene logo + INICIO */
.navbar-brand {
    display: flex;
    align-items: center;
    gap: 9px;
    justify-content: flex-start; /* espacio entre logo e INICIO */
     .navPlanes{
        justify-content: flex-end !important;
    }

}

/* Logo con barra a la derecha */

img, svg {
    vertical-align: middle;
    margin-bottom: 53px;
    
}
.carritoPlanes{
    margin-left: -67%;
    padding-left: 34px;
   
            &:hover {
                    transform: scale(1.2);
                    transition: 1s;
            }
}
.carritoPlanesSupl{
    margin-left: -65%;
    padding-left: 24px;
    margin-bottom: 72px;
    &:hover {
                transform: scale(1.2);
            }
}
.compraInicio{
    &:hover {
                transform: scale(1.2);
            }
}
.carritoVideo{
    margin-left: 70%;
    margin-bottom: 62px;
}
.carritoVest{
    margin-left: -75%;
    margin-bottom: 71px;
    &:hover {
                transform: scale(1.2);
            }
}
.btnMenuSupl{
    margin-bottom: 75px;
    margin-right: 6px;
}
.btnMenuVest{
    margin-right: 42px;
    margin-bottom: 70px;
}
.botonMenuVideo{
    color: black;
    background-color: #d1cece;
    margin-right: 30px;
    margin-bottom: 60px;
    &:hover{
        background-color: #fff2f2;
    }
}
/* Submenu dropdown */
.dropdown-menu {
    position: relative;
    z-index: 9999;
}

.animate__backInLeft {
    animation-duration: 1s;
}
.animate__backInUp{
    animation-duration: 1s;
}
