/*------------- HEADER------------------*/
.header {
    background-color: $gris-mas-oscuro !important;
    width: 100%;
    height: 135px;
    padding: 0 16px;
}

.header .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* LOGO + TEXTO */
.nav2 {
    display: flex;
    align-items: center;
    gap: 12px;
}

.imgLogoInicio,
.imgLogoForm, .imgLogoCarrito,
.imgLogoSuple, .imgLogoPlan, .imgLogoTimer {
    display: block;
    width: 12%;
}

.inicio,
.inicioSuplementos,
.inicioCarrito,
.inicioFormulario, .inicioVestimenta {
    font-family: $bebas-neue !important;
    color: white;
    font-size: 28px;
    margin: 0;
    line-height: 1;
}

/* BARRA */
.barra-vertical,
.barra-vertical-suplementos,
.barra-vertical-vestimenta-planes,
.barra-vertical-videos,
.barra-vertical-formulario, .barra-vertical-timer {
    width: 2px;
    height: 97px;
    background-color: #565252;
    margin: 0;
}

/* ACCIONES DERECHA (carrito + menú) */
.accionesHeader, .accionesHeaderPlan {
    display: flex;
    align-items: center;
    gap: 14px;
}

.accionHeadTimer{
    margin-left: 105px;
}

/* CARRITO */
.compraInicio {
    width: 26px;
    margin-bottom: 5px;
}

/* BOTÓN MENÚ */
.botonMenu {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    transform: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

/* ÍCONO MENÚ */
.menu-lines {
    width: 27px;
    height: 22px;
    position: relative;
    display: inline-block;
}

.menu-lines::before,
.menu-lines::after,
.menu-lines span {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff !important;
    border-radius: 20px;
}

.menu-lines::before { top: 0; }
.menu-lines span { top: 9px; }
.menu-lines::after { bottom: 0; }

/* OFFCANVAS */
.offcanvas {
    width: 260px !important;
}

.divOpMenu { background-color: #575755; }
.divOpMenu2 { background-color: $gris-mas-oscuro; }
.divOpMenu3 { background-color: #3F4239; }

/* LINKS */
.opMenu {
    font-size: 25px;
    font-family: $bebas-neue !important;
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white;

    &:hover {
        color: black;
    }
}
/* Quitar borde negro del botón menú en todas las páginas */
.navbar-toggler,
.botonMenu,
.btnMenuSupl,
.btnMenuVest,
.botonMenuVideo {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background: transparent !important;
}

/* Quitar borde también al hacer focus */
.navbar-toggler:focus,
.navbar-toggler:active,
.botonMenu:focus,
.botonMenu:active,
.btnMenuSupl:focus,
.btnMenuSupl:active,
.btnMenuVest:focus,
.btnMenuVest:active,
.botonMenuVideo:focus,
.botonMenuVideo:active {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
.conteHeader{
    display: flex;
}
.carritoIcono{
    font-size: 26px;
    &:hover{
        color: #3F4239;
    }
}


/* MOBILE */
@media (max-width: 430px) {
    .header {
        height: 95px;
    }

    .imgLogoInicio, .imgLogoPlan {
        width: 103px;
    }

    .inicio {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .barra-vertical {
        height: 70px;
        margin-bottom: 12px;
    }
    .nav2{
        gap: 5px;
    }
    .compraInicio{
        width: 22px;
    }
    .accionesHeader{
        gap: 5px;
    }
    .accionesHeaderPlan{
        gap: 8px;
    }
    .barra-vertical-formulario{
        height: 75px;
        margin-bottom: 15px;
    }
    .imgLogoForm{
        width: 39%;
    }
    .inicioFormulario{
        font-size: 21px;
    }
    .barra-vertical-suplementos{
        height: 78px;
    }
    .inicioSuplementos{
        font-size: 21px;
    }
    .imgLogoSuple{
        width: 26%;
    }
    .conteHeader{
        display: flex;
    }
    .carritoPlanesSuple{
        margin-bottom: 4px;
    }
    .barra-vertical-vestimenta-planes{
        height: 74px;
        margin-bottom: 15px !important;
    }
    .inicioVestimentaVideo{
        font-size: 21px;
    }
    .header .headerCarrito{
        justify-content: flex-end;
        flex-wrap: nowrap;
    }
    .imgLogoCarrito{
        width: 30%;
    }
    .inicioCarrito{
        font-size: 18px;
    }
    .imgLogoTimer{
        width: 58%;
    }
    .barra-vertical-timer{
        height: 65px;
    }
    .carritoIcono{
        font-size: 22px;
    }

}

@media (min-width:431px) and (max-width:768px) {
    .header .container-fluid{
        justify-content: flex-end;
        flex-wrap: nowrap;
    }
    .imgLogoInicio, .imgLogoPlan, .imgLogoSuple, .imgLogoCarrito{
        width: 30%;
    }
    .imgLogoForm{
        width: 34%;
    }
    .iniPlan, .inicioCarrito{
        font-size: 23px;
    }
    .inicioSuplementos{
        font-size: 25px;
    }
    .inicioFormulario{
        font-size: 22px;
    }
    .volverIndex{
        font-size: 21px !important;
    }
    .imgLogoTimer{
        width: 54%;
    }
    .carritoIcono{
        font-size: 22px;
    }
}

