
.mainPlan{
    min-height: 70vh;
    padding-top: 175px; // para separarlo del header
    background-color: $gris-mas-claro;
}
.contePlan{
    display: flex;
    justify-content: center;
}
.cardBodyPlanes {
    background-color: transparent !important;
    border: none !important;
}
.plan1{
    margin-top: 45px;
}
.acordPLan {
    width: 100%;
}

.accordion-item-plan {
    margin-bottom: 9px;
}
.tituloPlan{
    text-align: center;
    padding-bottom: 7px;
}
.btnPlanes{
    font-family:'DM Sans' ;
    padding-left: 33px;
    padding-right: 33px;
}
.contenidoAcordeon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.lineaPlan{
    color: black;
    width: 72rem;
}
.opcionesPlan{
    display: flex;
    gap: 35px !important;
}
.conteCadaEj{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.videoPlan{
    width: 22%;
}
.videoPlanDist{
    width: 20%;
}



@media (max-width:430px) {
    .btnPlanes{
        font-size: 14px;
    }
    .tituloPlan{
        padding-bottom: 0px;
    }
    .accordion-item-plan {
        margin-bottom: 9px;
    }
}