.mainForm{
    min-height: 70vh;
    margin-top: 208px;
}
.formulario{
    background-color: $gris-mas-oscuro;
    border-radius: 15px;
    margin: 159px;
    padding: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tituloForm{
    text-align: center;
    margin-bottom: -144px;
    font-family: $bebas-neue;
    color: $gris-oscuro;
    font-size: 40px;
}

.label{
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: math;
}
.input-radio{
    margin-left: 13px;
    font-family: math;
}

.input-text{
    border-radius: 11px;
    border-color: white;
    padding: 5px;
    &:hover{
        background-color: #645e5e;
        color: rgb(24, 23, 23);
        border-color: #645e5e;
    }
}
.input-number, .input-number-dias{
    border-radius: 11px;
    border-color: white;
    padding: 2px;
    width: 73px;
    text-align: center;
    &:hover{
        background-color: #645e5e;
        color: rgb(24, 23, 23);
        border-color: #645e5e;
    }
}
.labelDoble{
    margin-left: 53px;
}
.contenedorBoton{
    display: flex;
    justify-content: center;
}
.botonEnviar{
    border-radius: 14px;
    border-color: #777575;
    font-size: 22px;
    padding: 7px 32px;
    margin-top: 25px;
    background-color: #645e5e;
    &:hover{
        background-color: rgb(0, 0, 0);
        color: white;
    }
}
.planSolici {
    margin-top: 150px;
    margin-bottom: -137px;
    color: $gris-oscuro;
    font-size: 21px;
}
.radios{
    display: contents; /* ← NO altera el layout */
    gap: 0;
}


@media (max-width:396px){
    .tituloForm{
        font-size: 28px;
        margin-top: -76px;
    }
    .planSolici{
        font-size: 14px;
    }
    .formulario{
        margin-top: 147px;
        margin-left: 6px;
        margin-bottom: 15px;
        width: 97%;
    }
    .label{
        font-size: 16px;
    }
    .radios{
        display: flex;
        justify-content: center;
        gap: 7px;
    }
    .input-text{
        margin-left: 33px;
        width: 74%;
    }
    .input-text-contac{
        margin-top: -10px;
    }
    .input-number-dias{
        width: 69px;
        margin-left: 8px;
    }
    .input-number{
        width: 70px;
    }

}
