.mainIndex {
    min-height: 70vh;
    padding-top: 200px; // para separarlo del header
    background-color: $gris-mas-claro;

    h2 {
        margin-bottom: 12px;
        margin-top: -49px;
        font-family: $bebas-neue;
        font-weight: bold;
        color: $gris-mas-oscuro;
        text-align: center;
        font-size: 40px;
    }

    .animate__pulse {
        animation-iteration-count: 2;
        animation-duration: 2s;
        animation-delay: 1s;
    }
}

body {
    background-color: $gris-mas-claro !important;
}

/*CARROUSEL FOTOS ALEATORIAS ---------------------------*/

#carouselExampleSlidesOnly {
    width: 100% !important;
    height: 80dvh;
    /* viewport real en iOS */
    max-height: 350px;
    /* <--- Limita la altura del carrusel */
    overflow: hidden;
}

.carInner,
.carItem {
    height: 100% !important;
    width: 100%;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

//CARROUSEL CAMBIOS ---------------------------------------------------------------- 
.cambiosTitulo {
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
    font-family: 'DM Sans';
    color: $gris-mas-oscuro;
    margin-bottom: 6px;
    text-decoration: underline;
}

.carouselImgCambios {
    width: 44% !important;
    margin-left: 28%;
    margin-top: 42px;
}

.flechaIzqCambios {
    margin-left: 146px;
}

.flechaDerCambios {
    margin-right: 146px;
}

.descripCambios {
    text-align: center;
    font-family: $open-sans;
    font-size: 22px;
    background-color: #494949;
    color: white;
    border-radius: 3px;
}

//CARROUSEL CARDS PLANES ---------------------
.card1,
.card2,
.card3 {
    background-color: $gris-oscuro;
    box-shadow: 0px 4px 10px black;
    width: 20rem;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
}


.cardImgIndex {
    border-radius: 10px;
    height: 165px !important;
    object-fit: cover !important;
    object-position: center !important;
}


.card-body-index {
    background-color: $gris-oscuro;
    border-radius: 4px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

.card-title-index {
    font-family: $bebas-neue;
    font-size: 26px;
    margin-top: -19px;
}

.precio {
    font-family: $bebas-neue;
    font-size: 26px;
}

.card-text-index {
    font-family: $open-sans;
    text-align: left;
    font-size: 16px;
    color: whitesmoke;
    padding: 11px;
}

.btn {
    color: white;
    background-color: black;
    border-color: #767171;

    &:hover {
        background-color: #4b4a4a;
        border-color: black;
    }
}

.btnIndex {
    width: 110px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: -13px;
    font-family: $open-sans;
}

.btn3 {
    margin-bottom: 10px;
}

.btnIndex:active {
    background-color: #615f5f !important;
    border-color: #615f5f !important;
}

.lineaSeparadoraIndex {
    margin-top: -5px;
    margin-bottom: 2px;
    color: white;
    width: 261px;
    margin: auto;
}

.carousel-indicators {
    margin-bottom: -28px;
}

.flechaIzq {
    margin-left: 25%;
}

.flechaDer {
    margin-right: 25%;
}


//LOGIN

.modal-body{
    background-color: $gris-mas-claro;
}
.modal-header,.btnIniciarSesion{
    background-color: $gris-mas-oscuro;
    color: white;
}
.hrLogin{
    color: black;
}
.crearCuenta{
    color: black;
    font-size: 17px !important;
}
.infoCuenta{
    font-size: 11px ;
    text-align: center;
    margin-top: 8px;
    font-family: $open-sans;
}
.modal-title{
    font-family: $bebas-neue !important;
    font-size: 20px !important;
}
.labelLogin{
    font-family: $oswald !important;
}
.btnIniciarSesion{
    font-family: $oswald !important;
    font-size: 17px !important;
}
.text-center, .crearCuenta{
    font-family: $oswald !important;
}
.btnEstado:hover,
.btnEstado:focus,
.btnEstado:active {
    color: black !important;
    box-shadow: none !important;
    outline: none !important;
}

//Promociones
.contePromos{
    background-color: #696969;
    padding: 15px 0px 15px 0px;
    margin-top: 38px;
}
.cardPromo{
    margin: auto !important;
    background-color: #0b0a0a;
    color: white;
    border-radius: 9px;
    border: 5px solid white;
}
.bodyPromo{
     font-family: $open-sans; 
    font-size: 16px;
    padding: 11px;
    text-align: left;
}
.imgPromo{
     height: 219px;
}
.btnPromo{
    color: black;
    background-color: white;
    border-color: #767171;
    font-family: $bebas-neue;
    font-size: 23px;
        width: 177px;
    border-radius: 7px;
    border: none;
    margin: auto;
}

@media (max-width:430px) {
    .mainIndex {
        padding-top: 208px;

        h2 {
            margin-bottom: 3px;
            margin-top: -107px;
            font-size: 30px;
        }
    }

    //CARROUSEL 1
    .img3Carrousel {
        margin-top: 0px;
    }

    #carouselExampleSlidesOnly {
        height: 35dvh;
    }

    //CAMBIOS
    .carouselImgCambios {
        width: 97% !important;
        margin-left: 7px;
    }

    .flechaDerCambios {
        margin-right: -14px;
    }

    .flechaIzqCambios {
        margin-left: -12px;
    }

    // CARDS
    .card1,
    .card2,
    .card3 {
        margin: auto;
        width: 79% !important;
        margin-top: 65px;
        max-width: none;
    }

    .card-text-index {
        font-size: 16px;
    }

    .cardImgIndex {
        height: 185px;
        object-fit: cover;
    }

    .card-body-index {
        margin-bottom: 10px;
        padding: 15px;
    }

    .card-title-index,
    .precio {
        font-size: 23px;
        margin-top: 0;
    }

    .btnIndex {
        margin-bottom: -4px;
        margin-top: -22px;
    }

    .flechaIzq {
        margin-left: -6px;
    }

    .flechaDer {
        margin-right: -6px;
    }
    .descripCambios{
        font-size: 18px;
    }
}

@media (min-width:431px) and (max-width:768px) {
    // CARROUSEL 1
    #carouselExampleSlidesOnly {
        height: 35dvh;
    }
    //CAMBIOS
    .carouselImgCambios {
        width: 86% !important;
        margin-left: 7%;
    }

    .flechaIzqCambios{
        margin-left: -15px;
    }
    .flechaDerCambios{
        margin-right: -10px;
    }
    .flechaIzq{
        margin-left: 0%;
    }
    .flechaDer{
        margin-right: 0%;
    }
    
    .descripCambios{
        font-size: 18px;
    }
}