.mainIndex{
    min-height: 70vh;
    margin-top: 210px; // para separarlo del header
    background-color: $gris-mas-claro;

    h2{
        margin-bottom: 12px;
        margin-top: -49px;
        font-family: $bebas-neue;
        font-weight: bold;
        color: $gris-mas-oscuro;
        text-align: center;
        font-size: 40px;
    }
    .animate__pulse{
        animation-iteration-count: 2;
        animation-duration: 2s;
        animation-delay: 1s;
    }
}

body{
    background-color: $gris-mas-claro !important;
}

 /*CARROUSEL ---------------------------*/

#carouselExampleSlidesOnly {
    width: 100%; 
    max-height: 350px; /* <--- Limita la altura del carrusel */
    overflow: hidden; 
    
}

.carousel-inner,
.carousel-item {
    height: 100%; 
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%; 
}
.img3Carrousel{
    margin-top: -78px;
}
.img2Carrousel{
    margin-top: -20px;
    margin-right: 20px;
}


/*CARD ------------------------------*/
.conteinerCard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 24px;
}

.card1, .card2, .card3{
    background-color: $gris-oscuro;
    box-shadow: 0px 4px 10px black;

}

.card-img-top{
    border-radius: 10px;
     &:hover {
         transform: scale(1.1);
         transition: 1s;
            }
}

.card-body-index{
    background-color: $gris-oscuro;
    border-radius: 4px;
    color: white;
    text-align: center;
}
.card-title-index{
    font-family: $bebas-neue;
    font-size: 28px;
    margin-top: -20px;
}
.precio{
    font-family: $bebas-neue;
    font-size: 28px;
}
.card-text-index{
    font-family: 'DM Sans';
    text-align: left;
    margin-top: 28px;
    font-size: 20px;
    color: whitesmoke;
    padding: 10px;
}

.btn{
    color: white;
    background-color: black;
    border-color: #767171;
    &:hover{
        background-color: #4b4a4a;
        border-color:black ;
    }
  
}
.btn1{
    margin-bottom: 15px;
    margin-right: 60px;
}
.btnn2{
    margin-bottom: 15px;
    margin-right: 43px;
}
.btn3{
    margin-bottom: 10px;
    margin-right: 44px;
}
// cuando apriete el btn se cambia a ese color
.btn:active {
    background-color: #615f5f !important;
    border-color: #615f5f !important;
    }

@media (max-width:396px){
    .mainIndex h2{
        margin-bottom: 3px;
        margin-top: -91px;
        font-size: 30px;
        margin-left: 88px;
    }
    .conteinerCard{
        display: flex;
        flex-direction: column;
    }
    .card1{
        width: 21rem !important;
        height: 43rem !important;
        margin-left: 3px !important;
        margin-bottom: 25px;
    }
    .btn1{
        margin-bottom: -20px;
    }
    .card-title {
        margin-top: -41px !important;
    }
    .card-text{
        font-size: 18px;
        padding: 8px;
    }
    .card2{
        width: 21rem !important;
        height: 43rem !important;
        margin-left: 3px !important;
        margin-bottom: 25px;
    }
    .btnn2 {
        margin-bottom: -19px;
    }
    .card3{
          width: 21rem !important;
        height: 43rem !important;
        margin-left: 3px !important;
        margin-bottom: 25px;
    }
}

@media (max-width:430px){
    .mainIndex{
        h2{
            margin-bottom: 3px;
            margin-top: -93px;
            font-size: 30px;
        }
    }
    .conteinerCard{
        display: flex;
        flex-direction: column;
    }
    .card1, .card2, .card3{
        margin: auto;
        width: 22rem !important;
        margin-bottom: 20px;
    }
    .card-title-index{
        margin-top: -38px;
    }
    .card-text-index{
        font-size: 17px;
    }
    .card-img-top{
        &:hover{
            transform: none;
            transition: none;
        }
    }
}