.mainSuple{
    min-height: 40vh;
    margin-top: 200px;
    padding: 10px;
}

.accordion1{
    background-color: white;
    border-color: black;
}
.accordion2{
    margin-top: 10px;
    background-color: white;
    border-color: black;
}
.accordion3{
    margin-top: 10px;
    background-color: white;
    border-color: black;
}
.text-vesti {
    font-family: 'DM Sans';
    text-align: left;
    margin-top: 28px;
    font-size: 16px;
    color: whitesmoke;
}
.btn13{
    background-color: $gris-oscuro;
    color: white;
    font-family: $bebas-neue;
    font-size: 25px;
    &:focus{
        background-color: $gris-oscuro;
        color: white;
        border-color: $gris-oscuro;
        box-shadow: none;
        
    }
    &:not(.collapsed){
        background-color: $gris-oscuro;
        color: white;
        border-color: $gris-oscuro;
        box-shadow: none;
    }
    &:hover{
        background-color: rgba(53, 52, 52, 0.849);
    }
}
.btn2{
    background-color: $gris-claro;
    color: black;
    font-family: $bebas-neue;
    font-size: 25px;
    &:focus{
        background-color: $gris-claro;
        color: black;
        border-color: $gris-claro;
        box-shadow: none;
    }
    &:not(.collapsed){
        background-color: $gris-claro;
        color: black;
        border-color: $gris-claro;
        box-shadow: none;
    }
    &:hover{
        background-color: rgba(53, 52, 52, 0.525);
    }
}
.btnCreatina{
    margin-top: 10px;
}
.titleSuple{
    font-family: $bebas-neue;
}
/* Flecha cuando está cerrado */
.accordion-button::after {
    filter: invert(1); /* Cambia de negro a blanco */
}

/* Flecha cuando está abierto */
.accordion-button:not(.collapsed)::after {
    filter: invert(1); /* Blanco */
}
.conteTiposProte{
    display: flex;
    justify-content: space-around;
}
.conteTiposCrea{
    display: flex;
    justify-content: space-evenly;
}
.separador1CardOtros{
    display: flex;
    justify-content: space-around;
}
.separador2CardOtros{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.conteTiposOtros{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
}
.card-title{
    text-align: center;
    color: white;
    font-size: 30px;
}
hr{
    color: white;
    margin-top: 6px;
}
h6{
    color: white;
}
.cardSuple{
    background-color: $gris-oscuro;
    width: 18rem;
}
/* Oculto el radio original */
.radioPersonalizado input[type="radio"] {
    display: none;
}
/* La “cápsula” */
.radioPersonalizado span {
    display: inline-block;
    border: 1px solid #b0b0b0;
    cursor: pointer;
    margin-right: 8px;
    font-weight: bold;
    transition: all 0.2s ease;
    color: white;
    border-radius: 10px !important;
}
.formSuple{
    text-align: center !important;
}

/* Cuando está seleccionado */
.radioPersonalizado input[type="radio"]:checked + span {
    background-color: #000;
    color: #fff;
    border-color: #000;
    transform: scale(1.05);
}
.titLabel{
    color: white;
}
.opcionesSabor {
    display: flex;
    flex-direction: column;     /* permite que salten a la siguiente línea */
    gap: 8px;             /* separación entre cápsulas */
    margin-top: 8px;
    margin-bottom: 10px;
}
.mediaProte1{
    display: contents; /* ← NO altera el layout */
    gap: 0;
}
.btnSuple{
    margin-left: 47px;
 }

@media (max-width: 430px){
    .mainSuple{
        margin-top: 122px;
    }
    .mediaProte1{
        display: flex;
    }
    .cardSuple{
        width: 12rem !important;
    }
    .conteTiposProte{
        flex-direction: column;
        align-items: center;
        gap: 18px
    }
    .card-img-top{
         margin-bottom: 44px;
    }
    .text-vesti{
        margin-top: 8px;
        font-size: 13px;
    }
    h6{
        font-size: 13px;
    }
    .btnSuple{
        font-size: 14px;
        margin-left: 9px;
    }
    

}