
.conteCards-vesti{
    display: flex;
    justify-content: space-evenly;
}

.card-title-vesti{
    color: white;;
    font-family: $bebas-neue;
    margin: auto;
    margin-bottom: 11px;
    text-align: center;
    font-size: 30px;
}
.cardVesti{
     box-shadow: 0px 4px 10px black;
     width: 20rem;
     border-radius: 14px;
}
.card-text-vesti{
    text-align: justify;
    font-family: 'DM Sans';
    color: white;
    font-size: 15px;
}
.precios-vesti {
    font-family: $bebas-neue;
    margin-top: -34px;
    margin-bottom: 19px;
    color: white;
    font-size: 27px;
    text-align: center;
}
/* Oculto el radio original */
.radioPersonalizado input[type="radio"] {
    display: none;
}

/* La “cápsula” */
.radioPersonalizado span {
    display: inline-block;
    padding: 2px 9px;
    border: 1px solid #555;
    border-radius: 50px; /* Forma de pastillita */
    cursor: pointer;
    margin-right: 8px;
    font-weight: bold;
    transition: all 0.2s ease;
}

/* Cuando está seleccionado */
.radioPersonalizado input[type="radio"]:checked + span {
    background-color: #000;
    color: #fff;
    border-color: #000;
    transform: scale(1.05);
}
.formRemera{
    margin-bottom: 20px;
    text-align: center;
}
.labelColor{
    margin-top: 12px;
    color: white;
}
.labelTalle{
    color: white;
}
.btnVesti{
    display: flex;
    width: 153px;
    margin: auto;
}
#carouselProducto2 .imag{
    height: 100%;
    border-radius: 12px;
}
#carouselProducto1 .imag{
    height: 100%;
    border-radius: 12px;
}
.cardBodyVest{
    background-color: $gris-oscuro;
    border-radius: 8px;
    box-shadow: 2px 2px #100d0d;
}
.mainVesti{
    min-height: 70vh;
    padding-top: 200px; // para separarlo del header
    background-color: $gris-mas-claro;
}

@media (max-width:430px){
    
    .cardVesti{
        width: 13rem;
    }
    .mainVesti{
        padding-top: 120px;
    }
    .card-text-vesti{
        font-size: 12px;
    }
    .labelColor{
        display: flex;
        gap: 5px;
    }
}

@media (min-width:431px) and (max-width:768px){
    .cardVesti{
        width: 15rem;
    }
    .card-text-vesti{
        font-size: 13px;
    }
}