.inicioCarrito{
    margin-top: 26px;
}
.mainCompra{
    min-height: 70vh;
}
.conteCardCarrito{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 171px;
    width: 98%;
}
.bodyCarrito{
    background-color: $gris-oscuro;
    border-radius: 5px;
    color: white;
    font-family: 'DM Sans';
    text-align: center;
    font-size: 18px;
}
.tituloCarrito{
    font-family: $bebas-neue;
}
.tituloResumen{
    font-family: $bebas-neue;
    font-size: 33px;
}
.btnResumen{
    font-family: 'DM Sans';
}
.lineaSeparadora{
    color: black;
}
.tamañoCard{
    width: 27%;
    height: 1%;
}
.d-flex{
    justify-content: center !important;
}
.btnEliminarProduc{
    margin-top: 10px;
}
.caracteProd{
    font-size: 16px;
    font-family: 'DM Sans';
}
.conteResumen{
    background-color: $gris-claro;
    padding: 15px;
    border-radius: 5px;
    width: 65%;
}
.list-group-item{
    background-color: $gris-oscuro;
    border-color: black;
    color: white;
    font-family: 'DM Sans' ;
}
.conteBotonesResumen{
    display: flex;
    justify-content: center;
}
.totalResumen{
    font-family: $bebas-neue;
    font-size: 26px;
    font-weight: bold;
}
.diseñoToast{
    background-color: black;
    color: white;
}


@media (max-width:430px) {
    .inicioCarrito {
        margin-top: 7px;
    }
    .tamañoCard{
        width: 50%;
    }
    .conteCardCarrito{
        margin-top: 120px;
        width: 106%;
    }
    .conteResumen{
        width: 99%;
    }
    .list-group-item{
        font-size: 13px;
    }
    .btnResumen{
        font-size: 14px;
    }
    .conteBotonesResumen{
        gap: 5px;
    }
    .caracteProd{
        font-size: 14px;
    }
}