
.mainPlan{
    min-height: 70vh;
    padding-top: 175px; // para separarlo del header
    background-color: $gris-mas-claro;
}
.contePlan{
    display: flex;
    justify-content: center;
}
.cardBodyPlanes {
    background-color: #787575a6 !important;
    border: none !important;
    margin: 5px;
    width: 57rem;
    margin: auto;
    border-color: black !important;
}
.plan1{
    margin-top: 45px;
}
.acordPLan {
    width: 100%;
}

.accordion-item-plan {
    margin-bottom: 9px;
}
.tituloPlan{
    text-align: center;
    padding-bottom: 7px;
    font-size: 14px;
    color: black;
    padding-left: 17px;
}
.btnPlanes{
    font-family:'DM Sans' ;
    padding-left: 33px;
    padding-right: 33px;
}
.contenidoAcordeon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.lineaPlan{
    color: black;
    width: 49rem;
}
.opcionesPlan{
    display: flex;
    gap: 35px !important;
}
.conteCadaEj{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.videoPlan{
    width: 22%;
}
.videoPlanDist{
    width: 20%;
}
.btnPlanAcordion{
    background-color: #3d3d3d !important;
    color: white !important;
}
.ejercicios{
    text-align: center;
}


@media (max-width:430px) {
    .btnPlanes{
        font-size: 14px;
    }
    .tituloPlan{
        padding-bottom: 0px;
        text-align: left;
    }
    .accordion-item-plan {
        margin-bottom: 9px;
    }
    .conteCadaEj{
        justify-content: space-between;
    }
    .videoPlan{
        width: 41%;
    }
    .lineaPlan{
        width: 22rem;
    }
}

@media (min-width:431px) and (max-width:768px){
    .cardBodyPlanes{
        width: 30rem;
    }
    .tituloPlan{
        text-align: left;
        font-size: 16px;
        padding-left: 25px;
    }
}