
.mainPlan{
    min-height: 70vh;
    padding-top: 175px; // para separarlo del header
    background-color: $gris-mas-claro;
}
.contePlan{
    display: flex;
    justify-content: center;
}
.cardBodyPlanes {
    background-color: #787575a6 !important;
    border: none !important;
    margin: 5px;
    width: 77rem;
    margin: auto;
    border-color: black !important;
}
.plan1{
    margin-top: 45px;
}
.acordPLan {
    width: 100%;
}

.accordion-item-plan {
    margin-bottom: 9px;
}
.tituloPlanSup{
    text-align: center;
    padding-bottom: 7px;
    font-size: 20px;
    color: black;
    padding-left: 17px;
    font-family: $bebas-neue;
}
.btnPlanes{
    font-family:$bebas-neue ;
    font-size: 25px;
    padding-left: 33px;
    padding-right: 33px;

    &:active{
        background-color: $gris-oscuro !important;
    }
}
.contenidoAcordeon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.lineaPlan{
    color: white;
    width: 49rem;
}
.opcionesPlan{
    display: flex;
    gap: 35px !important;
}
.conteCadaEj{
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}
.videoPlan{
    width: 22%;
}
.videoPlanDist{
    width: 20%;
}
.btnPlanAcordion{
    background-color: #3d3d3d !important;
    color: white !important;
    font-family: $bebas-neue;
    font-size: 25px;
}
.ejercicios{
    text-align: center;
    font-family: $bebas-neue;
    font-size: 22px;
}
.tituloPlanInf{
    text-align: center;
    padding-bottom: 7px;
    font-size: 20px;
    color: black;
    padding-left: 17px;
    font-family: $bebas-neue;
    margin-top: 25px;
}

.tabla{
    border: "1";
    border-collapse: collapse;
    width: 100%;
}
th, td{
     border: 1px solid black; /* Líneas */
        padding: 10px; /* Espacio interno */
        text-align: center; /* Centrar texto */
}
th {
        background-color: #232124; /* Color al encabezado */
        color: white;
    }

    tr:nth-child(even) {
        background-color: $gris-oscuro; /* Color alternado filas */
        color: white;
    }

.videoPlanes {
    width: 160px;           /* tamaño visual */
    height: 90px;           /* proporción 16:9 */
    object-fit: cover;      /* evita deformación */
    border-radius: 10px;    /* bordes redondeados */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* sombra suave */
    cursor: pointer;
    transition: transform 0.3s ease;
}

@media (max-width:430px) {
    .mainPlan{
         padding-top: 122px;
    }
    .btnPlanes{
        font-size: 20px;
    }
    .tituloPlanSup{
        padding-bottom: 0px;
        font-size: 14px;
    }
    .tituloPlanInf{
        font-size: 16px;
    }
    .accordion-item-plan {
        margin-bottom: 9px;
    }
    .videoPlan{
        width: 41%;
    }
    .lineaPlan{
        width: 22rem;
    }
    .cardBodyPlanes{
        width: 24rem;
    }
    .ejercicios{
        font-size: 15px;
    }
}

@media (min-width:431px) and (max-width:768px){
    .cardBodyPlanes{
        width: 27rem;
    }
    .tituloPlanSup{
        text-align: left;
        font-size: 16px;
        padding-left: 25px;
    }
    .tituloPlanInf{
        font-size: 17px;
    }
    .ejercicios{
        font-size: 20px;
    }
    .lineaPlan{
        width: 22rem;
    }
}