.mainIndex{
    min-height: 70vh;
    padding-top: 200px; // para separarlo del header
    background-color: $gris-mas-claro;

    h2{
        margin-bottom: 12px;
        margin-top: -49px;
        font-family: $bebas-neue;
        font-weight: bold;
        color: $gris-mas-oscuro;
        text-align: center;
        font-size: 40px;
    }
    .animate__pulse{
        animation-iteration-count: 2;
        animation-duration: 2s;
        animation-delay: 1s;
    }
}

body{
    background-color: $gris-mas-claro !important;
}

 /*CARROUSEL ---------------------------*/

#carouselExampleSlidesOnly {
    width: 100% !important; 
    height: 80dvh;  /* viewport real en iOS */
    max-height: 350px; /* <--- Limita la altura del carrusel */
    overflow: hidden;
}
.carousel-inner,
.carousel-item {
    height: 100% !important; 
    width: 100%;
}
.carousel-item img {
    height: 100%; 
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.img4Carrousel {
    object-position: center 30% !important;
}

/*CARD ------------------------------*/
.conteinerCard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 24px;
}
.card1, .card2, .card3{
    background-color: $gris-oscuro;
    box-shadow: 0px 4px 10px black;
    width: 20rem;
    border-radius: 10px;
}
.cardImgIndex{
    border-radius: 10px;
     &:hover {
         transform: scale(1.1);
         transition: 1s;
            }
}
.card-body-index{
    background-color: $gris-oscuro;
    border-radius: 4px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}
.card-title-index{
    font-family: $bebas-neue;
    font-size: 28px;
}
.precio{
    font-family: $bebas-neue;
    font-size: 28px;
}
.card-text-index{
    font-family: 'DM Sans';
    text-align: left;
    font-size: 20px;
    color: whitesmoke;
    padding: 11px;
}
.btn{
    color: white;
    background-color: black;
    border-color: #767171;
    &:hover{
        background-color: #4b4a4a;
        border-color:black ;
    }
}
.btnIndex{
     width: 110px;
    margin: auto;
}
.btn3{
    margin-bottom: 10px;
}
.btnIndex:active {
    background-color: #615f5f !important;
    border-color: #615f5f !important;
    }

@media (max-width:430px){
    .mainIndex{
        padding-top: 208px;
        h2{
            margin-bottom: 3px;
            margin-top: -107px;
            font-size: 30px;
        }
    }
    .conteinerCard{
        display: flex;
        flex-direction: column;
    }
    .card1, .card2, .card3{
        margin: auto;
        width: 90% !important;
        margin-bottom: 20px;
        max-width: 360px;
    }
    .card-text-index{
        font-size: 17px;
    }
    .cardImgIndex{
        &:hover{
            transform: none;
            transition: none;
        }
    }
    .card-body-index{
        margin-bottom: 10px;
    }
    .img3Carrousel{
        margin-top: 0px;
    }
    #carouselExampleSlidesOnly{
        height: 35dvh;
    }
}

@media (min-width:431px) and (max-width:768px) {
    #carouselExampleSlidesOnly{
        height: 35dvh;
    }
    .conteinerCard{
        flex-wrap: wrap;
        gap: 20px;
    }
}